streamlit>=1.31.0
langchain>=0.1.10
langchain-core>=0.1.0
langchain-groq>=0.0.1
python-dotenv>=1.0.0
pdfplumber>=0.10.0
faiss-cpu>=1.8.0
sentence-transformers>=2.3.0
plotly>=5.18.0
pandas>=2.0.0
numpy>=1.24.0
Pillow>=10.0.0
pytesseract>=0.3.10
pdf2image>=1.16.3
opencv-python>=4.8.0
reportlab>=4.0.0
mysql-connector-python>=8.3.0
